In [1]:
import selenium
import pandas as pd
from selenium import webdriver

# Q1: Data Analyst in Bangalore

In [123]:
driver=webdriver.Chrome(r"C://chromedriver_win32/chromedriver.exe")

In [124]:
driver.get("https://www.naukri.com/")

In [125]:
job=driver.find_element_by_id("qsb-keyword-sugg")
job.send_keys('Data Analyst')
loc=driver.find_element_by_xpath('//input[@id="qsb-location-sugg"]')
loc.send_keys('Bangalore')

In [126]:
search_btn=driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

In [127]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [128]:
driver.get(url)

In [129]:
job_titles=[]
company_names=[]
job_locations=[]
experience_required=[]

In [130]:
titles_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a7887cb4dac444772837a3fb9e45e718", element="69069b0a-9d67-47ed-9cd8-606eea979453")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7887cb4dac444772837a3fb9e45e718", element="972c0c75-6e6e-405d-96c2-d2d217d2fbb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7887cb4dac444772837a3fb9e45e718", element="60cbfdcb-9e45-4f82-bd37-0eec2796ea01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7887cb4dac444772837a3fb9e45e718", element="a1348811-97ab-405e-a04e-f9cb8a4963a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7887cb4dac444772837a3fb9e45e718", element="c7c52826-e05f-4c8f-8aa9-c9e184f045e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7887cb4dac444772837a3fb9e45e718", element="0d279ef6-bcda-4e87-aae5-0ed16c5d3f40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7887cb4dac444772837a3fb9e45e718", element="ccf6bb2f-631f-4ee5-bcfe-f16a05986fb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7887cb4dac444772837a3fb9e45e718", element="ae0707d2-33c6-4129-bdd4-d919db311870")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7887cb4dac444772837a3fb9e45e718", element="8eaa8acd-e3c7-4b5e-a064-007b16d12b4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7887cb4dac444772837a3fb9e45e718", element="91a97ab2-1bec-4022-8eae-1e0d65d6d7b2")>]

In [131]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[:10]

['Assistant Manager II - Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Data Analyst (SQL, Excel, R/Python, Dashboards, PowerBI) - Contract',
 'Data Analyst with Marketing Analytics-Capco',
 'Business Data Analyst - MIS & Reporting']

In [132]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [133]:
for i in company_tags:
    company=i.text
    company_names.append(company)
company_names[:10]

['Flipkart Internet Private Limited',
 'Super India Tech Mark',
 'tech mahindra ltd',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Xiaomi',
 'Concentrix Daksh Services India Private Limited.',
 'Cerner',
 'Flipkart Internet Private Limited',
 'Capco Technologies Pvt Ltd',
 'INTERTRUST GROUP']

In [134]:
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [135]:
for i in location_tags:
    location=i.text
    job_locations.append(location)
job_locations[:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Devalapur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru']

In [136]:
experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]')

In [137]:
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
experience_required[:10]

['4-8 Yrs',
 '0-2 Yrs',
 '4-8 Yrs',
 '2-7 Yrs',
 '2-6 Yrs',
 '2-7 Yrs',
 '3-5 Yrs',
 '1-5 Yrs',
 '4-9 Yrs',
 '3-7 Yrs']

In [138]:
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_names
jobs['Location']=job_locations
jobs['experience_required']=experience_required

In [139]:
jobs[:10]

,Title,Company,Location,experience_required
0,Assistant Manager II - Data Analyst,Flipkart Internet Private Limited,Bangalore/Bengaluru,4-8 Yrs
1,Data Analyst,Super India Tech Mark,Bangalore/Bengaluru(Devalapur),0-2 Yrs
2,Data Analyst,tech mahindra ltd,Bangalore/Bengaluru,4-8 Yrs
3,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,2-7 Yrs
4,Data Analyst,Xiaomi,Bangalore/Bengaluru,2-6 Yrs
5,Hiring For Data Analyst,Concentrix Daksh Services India Private Limited.,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs
6,Senior Data Analyst,Cerner,Bangalore/Bengaluru,3-5 Yrs
7,"Data Analyst (SQL, Excel, R/Python, Dashboards...",Flipkart Internet Private Limited,Bangalore/Bengaluru,1-5 Yrs
8,Data Analyst with Marketing Analytics-Capco,Capco Technologies Pvt Ltd,"Pune, Bangalore/Bengaluru",4-9 Yrs
9,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,"Mumbai, Bangalore/Bengaluru",3-7 Yrs

In [20]:
driver.close()

# Q2: Data Scientist in Bangalore

In [39]:
driver=webdriver.Chrome(r"C://chromedriver_win32/chromedriver.exe")

In [40]:
driver.get("https://www.naukri.com/")

In [41]:
job=driver.find_element_by_id("qsb-keyword-sugg")
job.send_keys('Data Scientist')
loc=driver.find_element_by_xpath('//input[@id="qsb-location-sugg"]')
loc.send_keys('Bangalore')

In [42]:
search_btn=driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

In [43]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [44]:
driver.get(url)

In [45]:
job_titles=[]
company_names=[]
job_locations=[]
job_description=[]

In [46]:
titles_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [47]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[:10]

['Required- Data Scientist (NLP)-Axis Bank - 6 months contract',
 'Opportunity For Data Scientist Internship - Bengaluru',
 'Data Scientist/ Analyst',
 'Data Scientist - Python/ MATLAB/ Machine Learning Algorithms',
 'Principal Data Scientist - Machine/Deep Learning - NLP/Tensorflow',
 'Data Scientist/Senior Data Scientist',
 'Global Medical Data Scientist',
 'Data Scientist - Advanced Analytics',
 'Data Scientist',
 'Senior Data Scientist, , Data Science']

In [48]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [49]:
for i in company_tags:
    company=i.text
    company_names.append(company)
company_names[:10]

['Axis Bank Limited',
 'Corner Stone Solutions',
 'Becton Dickinson India Pvt. Ltd',
 'Wrackle Technologies Pvt Ltd',
 'Fidius advisory',
 'GANIT BUSINESS SOLUTIONS PRIVATE LIMITED',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'IBM India Pvt. Limited',
 'Sony India Software Center',
 'Visa Inc.']

In [50]:
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [51]:
for i in location_tags:
    location=i.text
    job_locations.append(location)
job_locations[:10]

['Kolkata, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [58]:
url="https://www.naukri.com/job-listings-required-data-scientist-nlp-axis-bank-6-months-contract-axis-bank-limited-kolkata-new-delhi-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-mumbai-all-areas-4-to-9-years-150321006568?src=jobsearchDesk&sid=16170999988199184&xp=1&px=1"

In [59]:
driver.get(url)

In [71]:
description_tags=driver.find_elements_by_xpath('//div[@class="clearboth description"]')

In [72]:
for i in description_tags:
    description=i.text
    job_description.append(description)
job_description

['Roles and Responsibilities - The bank generates a vast amount of data like customer data, logs from their financial products,\ntransaction data that can be used in order to support decision making, together with unstructured\ndata, like social media data and customer emails etc. As the unstructured data and the technology to\nprocess it grows, there is a natural demand to tap the insights from this data.\nThe Bank wants to classify customer emails into different issue buckets to act on them quickly. In this\nproject the candidate has to new age DL algorithms to train supervised and unsupervised\nalgorithms to achieve ~90% accuracy.\n\nDesired Candidate Profile\n2-8 years of relevant industry experience (NLP & Deep learning), with excellent mathematical, programming and problem-solving skills, as well as a passion for AI and research\nThe candidate should be an expert at analysing large amounts of raw information to find patterns and extract valuable insights.\nFluency in Python hands on relevant experience\nExperience with NLP libraries like core NLP, spacy, genism, etc\nHigh-performance processing with robust analytic data pipeline\nFluency in at least one deep learning framework: PyTorch, TensorFlow / Keras\nAdvanced knowledge of the HuggingFace libraries (transformers and tokenizers)\nPerks and Benefits\nWork from Home',
 'Roles and Responsibilities - The bank generates a vast amount of data like customer data, logs from their financial products,',
 'Roles and Responsibilities - The bank generates a vast amount of data like customer data, logs from their financial products,']

In [54]:
jobs2=pd.DataFrame({})
jobs2['Title']=job_titles
jobs2['Company']=company_names
jobs2['Location']=job_locations

In [21]:
jobs2[:10]

,Title,Company,Location
0,Required- Data Scientist (NLP)-Axis Bank - 6 m...,Axis Bank Limited,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu..."
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bangalore/Bengaluru
2,Principal Data Scientist - Machine/Deep Learni...,Fidius advisory,Bangalore/Bengaluru
3,Data Scientist/ Analyst,Becton Dickinson India Pvt. Ltd,Bangalore/Bengaluru
4,Opportunity For Data Scientist Internship - Be...,Corner Stone Solutions,Bangalore/Bengaluru
5,Data Scientist || Data Analyst || Data science,Inspiration Manpower Consultancy Pvt. Ltd.,"Navi Mumbai, Bangalore/Bengaluru"
6,Data Scientist/Senior Data Scientist,GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
7,"Senior Data Scientist, , Data Science",Visa Inc.,Bangalore/Bengaluru
8,Senior Data Scientist (Machine Vision solutions),ONX Software Systems Pvt Ltd,Bangalore/Bengaluru
9,Data Scientist - Advanced Analytics,IBM India Pvt. Limited,Bangalore/Bengaluru

In [73]:
driver.close()

# Q3: Location and Salary filter

In [66]:
driver=webdriver.Chrome(r"C://chromedriver_win32/chromedriver.exe")

In [67]:
driver.get("https://www.naukri.com/")

In [68]:
job=driver.find_element_by_id("qsb-keyword-sugg")
job.send_keys('Data Scientist')

In [69]:
search_btn=driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

In [71]:
url='https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508&ctcFilter=3to6'

In [72]:
driver.get(url)

In [73]:
job_titles=[]
company_names=[]
job_locations=[]
experience_required=[]

In [74]:
titles_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [75]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[:10]

['Required- Data Scientist (NLP)-Axis Bank - 6 months contract',
 'Data Scientist/Data Analyst - Python/Machine Learning',
 'Data Scientist',
 'Data Scientist - Python & Machine Learning',
 'Data Scientist - Python & Machine Learning',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist - Python / Machine Learning / Tableau / Power BI',
 'Data Scientist - Python & Machine Learning (ISO 20022)',
 'Hiring For Data Scientist',
 'Data Scientist | Python | Machine Learning | Data Science Training']

In [76]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [77]:
for i in company_tags:
    company=i.text
    company_names.append(company)
company_names[:10]

['Axis Bank Limited',
 'Change leaders',
 'Amity University',
 'FUTURES AND CAREERS',
 'FUTURES AND CAREERS',
 'TalPro',
 'FUTURES AND CAREERS',
 'FUTURES AND CAREERS',
 'Max Bupa Health Insurance Company Limited',
 'Careerera']

In [78]:
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [79]:
for i in location_tags:
    location=i.text
    job_locations.append(location)
job_locations[:10]

['Kolkata, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Mumbai, Ghaziabad',
 'Ghaziabad, Faridabad, Delhi / NCR',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida(Sector-59 Noida)']

In [80]:
experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]')

In [81]:
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
experience_required[:10]

['4-9 Yrs',
 '5-10 Yrs',
 '6-8 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '1-6 Yrs',
 '3-8 Yrs']

In [82]:
jobs3=pd.DataFrame({})
jobs3['Title']=job_titles
jobs3['Company']=company_names
jobs3['Location']=job_locations
jobs3['experience_required']=experience_required

In [83]:
jobs3[:10]

,Title,Company,Location,experience_required
0,Required- Data Scientist (NLP)-Axis Bank - 6 m...,Axis Bank Limited,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",4-9 Yrs
1,Data Scientist/Data Analyst - Python/Machine L...,Change leaders,"Mumbai, Ghaziabad",5-10 Yrs
2,Data Scientist,Amity University,"Ghaziabad, Faridabad, Delhi / NCR",6-8 Yrs
3,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",2-7 Yrs
4,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",2-7 Yrs
5,Data Scientist - Machine Learning/ NLP,TalPro,Gurgaon/Gurugram,2-6 Yrs
6,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-8 Yrs
7,Data Scientist - Python & Machine Learning (IS...,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-8 Yrs
8,Hiring For Data Scientist,Max Bupa Health Insurance Company Limited,"Gurgaon/Gurugram, Delhi / NCR",1-6 Yrs
9,Data Scientist | Python | Machine Learning | D...,Careerera,Noida(Sector-59 Noida),3-8 Yrs

In [84]:
driver.close()

# Q4: Glassdoor salary data,You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [109]:
driver=webdriver.Chrome(r"C://chromedriver_win32/chromedriver.exe")

In [113]:
driver.get('https://www.glassdoor.co.in/index.html')

In [115]:
job=driver.find_element_by_xpath("//input[@class='css-1etjok6']")
job.send_keys('Data Scientist')

In [116]:
loc=driver.find_element_by_id("scLocation")
loc.send_keys('Noida')

In [117]:
search_btn=driver.find_element_by_id('prefix__icon-arrow-1')
search_btn.click()

In [118]:
url=('https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm')
driver.get(url)

In [119]:
company_names=[]
days_posted=[]
company_rating=[]

In [121]:
company_tags=driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]')

In [133]:
for i in company_tags:
    company=i.text
    company_names.append(company)
company_names=company_names[:10]
company_names

['Ericsson-Worldwide',
 'Elsevier',
 'Adobe',
 'WishFin',
 'Biz2Credit Inc',
 'Techlive',
 'Salasar New Age Technologies',
 'abc consultants',
 'IBM',
 'Priority Vendor']

In [123]:
days_tags=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')

In [132]:
for i in days_tags:
    days=i.text
    days_posted.append(days)
days_posted=days_posted[:10]
days_posted

['24h', '5d', '7d', '2d', '24h', '26d', '3d', '20d', '6d', '19d']

In [126]:
rating_tags=driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]')

In [134]:
for i in rating_tags:
    rating=i.text
    company_rating.append(rating)
company_rating=company_rating[:10]
company_rating

['4.1', '4.3', '4.4', '3.8', '3.8', '5.0', '4.2', '4.0', '3.7', '3.1']

In [135]:
print(len(company_names))

10

In [136]:
jobs4=pd.DataFrame({})
jobs4['company_names']=company_names
jobs4['days_posted']=days_posted
jobs4['company_rating']=company_rating

In [137]:
jobs4

                  company_names days_posted company_rating
0            Ericsson-Worldwide         24h            4.1
1                      Elsevier          5d            4.3
2                         Adobe          7d            4.4
3                       WishFin          2d            3.8
4                Biz2Credit Inc         24h            3.8
5                      Techlive         26d            5.0
6  Salasar New Age Technologies          3d            4.2
7               abc consultants         20d            4.0
8                           IBM          6d            3.7
9               Priority Vendor         19d            3.1

In [138]:
driver.close()

# Q5:Glassdoor salary data,You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [40]:
driver=webdriver.Chrome(r"C://chromedriver_win32/chromedriver.exe")

In [41]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [42]:
job=driver.find_element_by_id('KeywordSearch')
job.send_keys('Data Scientist')

In [43]:
loc=driver.find_element_by_id('LocationSearch')
loc.send_keys('Noida')

In [44]:
search_btn=driver.find_element_by_id('HeroSearchButton')
search_btn.click()

In [80]:
url=('https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn')
driver.get(url)

In [81]:
company_names=[]
number_of_salaries=[]
average_salary=[]
min_salary=[]
max_salary=[]

In [82]:
company_tags=driver.find_elements_by_xpath('//p[@class="m-0 "]')

In [83]:
for i in company_tags:
    company=i.text
    company_names.append(company)
company_names=company_names[:10]
company_names

['Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'IBM',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'EXL Service',
 'Cognizant Technology Solutions']

In [84]:
number_tags=driver.find_elements_by_xpath('//p[@class="css-1uyte9r css-1kuy7z7 m-0 "]')

In [85]:
for i in number_tags:
    number=i.text
    number_of_salaries.append(number)
number_of_salaries=number_of_salaries[:10]
number_of_salaries

['14 salaries',
 '14 salaries',
 '14 salaries',
 '13 salaries',
 '12 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '7 salaries',
 '6 salaries']

In [86]:
avg_tags=driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]')

In [87]:
for i in avg_tags:
    avg=i.text
    average_salary.append(avg)
average_salary=average_salary[:10]
average_salary

[' 6,01,000\n/yr',
 ' 11,51,207\n/yr',
 ' 12,34,207\n/yr',
 ' 7,63,825\n/yr',
 ' 7,32,209\n/yr',
 ' 13,88,910\n/yr',
 ' 8,18,515\n/yr',
 ' 12,01,403\n/yr',
 ' 11,90,000\n/yr',
 ' 10,11,517\n/yr']

In [88]:
min_tags=driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values d-flex justify-content-between "]/span[1]')

In [89]:
for i in min_tags:
    Min=i.text
    min_salary.append(Min)
min_salary=min_salary[:10]
min_salary

['336L',
 '579L',
 '452L',
 '589L',
 '350L',
 '1,050L',
 '504L',
 '623L',
 '578L',
 '796L']

In [90]:
max_tags=driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values d-flex justify-content-between "]/span[2]')

In [91]:
for i in max_tags:
    Max=i.text
    max_salary.append(Max)
max_salary=max_salary[:10]
max_salary

['1,080L',
 '2,222L',
 '11,669L',
 '2,741L',
 '1,619L',
 '1,500L',
 '1,471L',
 '1,702L',
 '1,500L',
 '1,268L']

In [92]:
jobs5=pd.DataFrame({})
jobs5['company_names']=company_names
jobs5['number_of_salaries']=number_of_salaries
jobs5['average_salary']=average_salary
jobs5['min_salary']=min_salary
jobs5['max_salary']=max_salary

In [93]:
jobs5

,company_names,number_of_salaries,average_salary,min_salary,max_salary
0,Tata Consultancy Services,14 salaries,"6,01,000\n/yr",336L,"1,080L"
1,Accenture,14 salaries,"11,51,207\n/yr",579L,"2,222L"
2,Delhivery,14 salaries,"12,34,207\n/yr",452L,"11,669L"
3,IBM,13 salaries,"7,63,825\n/yr",589L,"2,741L"
4,Ericsson-Worldwide,12 salaries,"7,32,209\n/yr",350L,"1,619L"
5,UnitedHealth Group,10 salaries,"13,88,910\n/yr","1,050L","1,500L"
6,Valiance Solutions,9 salaries,"8,18,515\n/yr",504L,"1,471L"
7,Innovaccer,8 salaries,"12,01,403\n/yr",623L,"1,702L"
8,EXL Service,7 salaries,"11,90,000\n/yr",578L,"1,500L"
9,Cognizant Technology Solutions,6 salaries,"10,11,517\n/yr",796L,"1,268L"

In [94]:
driver.close()

# Q6:Scrape data of first 100 sunglasses listings on flipkart.com

In [60]:
driver=webdriver.Chrome(r"C://chromedriver_win32/chromedriver.exe")

In [61]:
driver.get('https://www.flipkart.com/')

In [62]:
flipkart=driver.find_element_by_xpath('//input[@class="_3704LK"]')

In [63]:
flipkart.send_keys('sunglasses')

In [65]:
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [66]:
url=('https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off')
driver.get(url)

In [67]:
Brand=[]
Description=[]
Price=[]
Discount=[]

In [68]:
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

In [69]:
Brand1=[]
for i in brand_tags:
    brand=i.text
    Brand1.append(brand)

In [70]:
desc_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa" or class="IRpwTa _2-ICcC"]')

In [71]:
Description1=[]
for i in desc_tags:
    desc=i.text
    Description1.append(desc)

In [72]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [73]:
Price1=[]
for i in price_tags:
    price=i.text
    Price1.append(price)

In [74]:
disc_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

In [75]:
Discount1=[]
for i in disc_tags:
    disc=i.text
    Discount1.append(disc)

In [76]:
#we got '40' results for this page, now moving to next page..

In [77]:
next_btn=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
next_btn.click()

In [78]:
url=('https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2')
driver.get(url)

In [79]:
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
Brand2=[]
for i in brand_tags:
    brand=i.text
    Brand2.append(brand)

In [80]:
desc_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa" or class="IRpwTa _2-ICcC"]')
Description2=[]
for i in desc_tags:
    desc=i.text
    Description2.append(desc)

In [81]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
Price2=[]
for i in price_tags:
    price=i.text
    Price2.append(price)

In [82]:
disc_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
Discount2=[]
for i in disc_tags:
    disc=i.text
    Discount2.append(disc)

In [83]:
#we got total of '80' results for this page, now moving to next page..

In [227]:
next_btn=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
next_btn.click()

In [84]:
url=('https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=3')
driver.get(url)

In [85]:
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
Brand3=[]
for i in brand_tags:
    brand=i.text
    Brand3.append(brand)
Brand3=Brand3[:20]

In [95]:
desc_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa" or class="IRpwTa _2-ICcC"]')
Description3=[]
for i in desc_tags:
    desc=i.text
    Description3.append(desc)
Description3=Description3[:20]

In [87]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
Price3=[]
for i in price_tags:
    price=i.text
    Price3.append(price)
Price3=Price3[:20]

In [88]:
disc_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
Discount3=[]
for i in disc_tags:
    disc=i.text
    Discount3.append(disc)
Discount3=Discount3[:20]

In [96]:
Brand=Brand1+Brand2+Brand3
Description=Description1+Description2+Description3
Price=Price1+Price2+Price3
Discount=Discount1+Discount2+Discount3

In [97]:
sunglasses=pd.DataFrame({})
sunglasses['Brand']=Brand
sunglasses['Description']=Description
sunglasses['Price']=Price
sunglasses['Discount']=Discount
sunglasses

,Brand,Description,Price,Discount
0,Aislin,"UV Protection, Gradient Cat-eye Sunglasses (58)",485,68% off
1,PIRASO,UV Protection Round Sunglasses (Free Size),209,82% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),758,15% off
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),349,78% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),666,16% off
...,...,...,...,...
95,hipe,UV Protection Retro Square Sunglasses (88),210,85% off
96,BKGE,UV Protection Rectangular Sunglasses (Free Size),282,74% off
97,ROYAL SON,"UV Protection, Gradient Wayfarer, Over-sized S...",399,73% off
98,Fravy,UV Protection Aviator Sunglasses (54),289,80% off
99,ROYAL SON,UV Protection Wayfarer Sunglasses (Free Size),599,70% off

In [98]:
driver.close()

# Q7:Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [44]:
driver=webdriver.Chrome(r"C://chromedriver_win32/chromedriver.exe")

In [45]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

In [46]:
Ratings=[]
Review_summary=[]
full_review=[]

In [47]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

In [48]:
Ratings1=[]
for i in rating_tags:
    Ratings1.append(i.text)

In [49]:
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

In [50]:
Summary1=[]
for i in summary_tags:
    Summary1.append(i.text)

In [51]:
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [52]:
Review1=[]
for i in review_tags:
    Review1.append(i.text)

In [53]:
#next button

In [56]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2")

In [59]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
Ratings2=[]
for i in rating_tags:
    Ratings2.append(i.text)

In [61]:
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Summary2=[]
for i in summary_tags:
    Summary2.append(i.text)

In [62]:
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
Review2=[]
for i in review_tags:
    Review2.append(i.text)

In [63]:
#next button

In [64]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3")

In [65]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
Ratings3=[]
for i in rating_tags:
    Ratings3.append(i.text)

In [66]:
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Summary3=[]
for i in summary_tags:
    Summary3.append(i.text)

In [67]:
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
Review3=[]
for i in review_tags:
    Review3.append(i.text)

In [68]:
#next button

In [69]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4")

In [70]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
Ratings4=[]
for i in rating_tags:
    Ratings4.append(i.text)

In [71]:
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Summary4=[]
for i in summary_tags:
    Summary4.append(i.text)

In [72]:
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
Review4=[]
for i in review_tags:
    Review4.append(i.text)

In [73]:
#next

In [74]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5")

In [75]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
Ratings5=[]
for i in rating_tags:
    Ratings5.append(i.text)

In [76]:
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Summary5=[]
for i in summary_tags:
    Summary5.append(i.text)

In [77]:
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
Review5=[]
for i in review_tags:
    Review5.append(i.text)

In [78]:
#next

In [79]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6")

In [81]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
Ratings6=[]
for i in rating_tags:
    Ratings6.append(i.text)

In [82]:
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Summary6=[]
for i in summary_tags:
    Summary6.append(i.text)

In [83]:
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
Review6=[]
for i in review_tags:
    Review6.append(i.text)

In [84]:
#next

In [85]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7")

In [86]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
Ratings7=[]
for i in rating_tags:
    Ratings7.append(i.text)

In [87]:
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Summary7=[]
for i in summary_tags:
    Summary7.append(i.text)

In [88]:
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
Review7=[]
for i in review_tags:
    Review7.append(i.text)

In [89]:
#next

In [90]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8")

In [91]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
Ratings8=[]
for i in rating_tags:
    Ratings8.append(i.text)

In [92]:
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Summary8=[]
for i in summary_tags:
    Summary8.append(i.text)

In [93]:
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
Review8=[]
for i in review_tags:
    Review8.append(i.text)

In [94]:
#next

In [95]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9")

In [96]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
Ratings9=[]
for i in rating_tags:
    Ratings9.append(i.text)

In [97]:
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Summary9=[]
for i in summary_tags:
    Summary9.append(i.text)

In [98]:
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
Review9=[]
for i in review_tags:
    Review9.append(i.text)

In [99]:
#next

In [100]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10")

In [101]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
Ratings10=[]
for i in rating_tags:
    Ratings10.append(i.text)

In [102]:
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Summary10=[]
for i in summary_tags:
    Summary10.append(i.text)

In [103]:
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
Review10=[]
for i in review_tags:
    Review10.append(i.text)

In [114]:
Ratings=Ratings1+Ratings2+Ratings3+Ratings4+Ratings5+Ratings6+Ratings7+Ratings8+Ratings9+Ratings10
Review_summary=Summary1+Summary2+Summary3+Summary4+Summary5+Summary6+Summary7+Summary8+Summary9+Summary10
full_review=Review1+Review2+Review3+Review4+Review5+Review6+Review7+Review8+Review9+Review10

apple=pd.DataFrame({})
#apple['Ratings']=Ratings
#apple['Review_summary']=Review_summary
apple['Full_review']=full_review

In [115]:
apple

                                          Full_review
0   The Best Phone for the Money\n\nThe iPhone 11 ...
1   Amazing phone with great cameras and better ba...
2   Previously I was using one plus 3t it was a gr...
3   Amazing Powerful and Durable Gadget.\n\nIm am...
4   iphone 11 is a very good phone to buy only if ...
..                                                ...
95  I got this beast today. And I must say the pic...
96  iPhone is delivered on time. Display is great ...
97  I will just say its an awesome phone. Starting...
98  Just go for it without a second thought, if yo...
99  I really liked the budget iPhone. First I thou...

[100 rows x 1 columns]

In [ ]:
driver.close()

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for sneakers in the search field.

In [2]:
driver=webdriver.Chrome(r"C://chromedriver_win32/chromedriver.exe")

In [3]:
driver.get('https://www.flipkart.com/')

In [4]:
flipkart=driver.find_element_by_xpath('//input[@class="_3704LK"]')
flipkart.send_keys('sneakers')

In [5]:
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [6]:
url=('https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off')
driver.get(url)

In [7]:
Brand=[]
Description=[]
Price=[]
Discount=[]

In [8]:
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
Brand1=[]
for i in brand_tags:
    brand=i.text
    Brand1.append(brand)

In [9]:
desc_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
Description1a=[]
for i in desc_tags:
    desc=i.text
    Description1a.append(desc)

In [10]:
desc_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC"]')
Description1b=[]
for i in desc_tags:
    desc=i.text
    Description1b.append(desc)

In [11]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
Price1=[]
for i in price_tags:
    price=i.text
    Price1.append(price)

In [12]:
disc_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
Discount1=[]
for i in disc_tags:
    disc=i.text
    Discount1.append(disc)

In [13]:
#we got '40' results for this page, now moving to next page..

In [14]:
next_btn=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
next_btn.click()

In [34]:
url=('https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2')
driver.get(url)

In [35]:
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
Brand2=[]
for i in brand_tags:
    brand=i.text
    Brand2.append(brand)

In [36]:
desc_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
Description2a=[]
for i in desc_tags:
    desc=i.text
    Description2a.append(desc)

In [37]:
desc_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC"]')
Description2b=[]
for i in desc_tags:
    desc=i.text
    Description2b.append(desc)

In [38]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
Price2=[]
for i in price_tags:
    price=i.text
    Price2.append(price)

In [39]:
disc_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
Discount2=[]
for i in disc_tags:
    disc=i.text
    Discount2.append(disc)

In [21]:
#we got total of '80' results for this page, now moving to next page..

In [22]:
next_btn=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
next_btn.click()

In [23]:
url=('https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3')
driver.get(url)

In [24]:
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
Brand3=[]
for i in brand_tags:
    brand=i.text
    Brand3.append(brand)
Brand3=Brand3[:20]

In [25]:
desc_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
Description3a=[]
for i in desc_tags:
    desc=i.text
    Description3a.append(desc)
Description3a=Description3a[:20]

In [26]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
Price3=[]
for i in price_tags:
    price=i.text
    Price3.append(price)
Price3=Price3[:20]

In [27]:
disc_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
Discount3=[]
for i in disc_tags:
    disc=i.text
    Discount3.append(disc)
Discount3=Discount3[:20]

In [41]:
Brand=Brand1+Brand2+Brand3
Description=Description1a+Description2a+Description3a+Description1b+Description2b
Price=Price1+Price2+Price3
Discount=Discount1+Discount2+Discount3

In [42]:
sneakers=pd.DataFrame({})
sneakers['Brand']=Brand
sneakers['Description']=Description
sneakers['Price']=Price
sneakers['Discount']=Discount
sneakers

,Brand,Description,Price,Discount
0,Chevit,Latest & Stylish Design Combo Pack of 2 Pairs ...,536,58% off
1,JEETLAV,Perfect & Affordable Combo Pack of 02 Pairs Sn...,349,65% off
2,Chevit,Casual Sneakers Shoes For Men Sneakers For Men,499,72% off
3,Robbie jones,Combo Pack of 4 Casual Sneakers With Sneakers ...,399,60% off
4,Chevit,Combo pack of 2 casual sneaker shoes for men S...,474,76% off
...,...,...,...,...
95,ROCKFIELD,Sneakers For Men,424,57% off
96,M K FOOTWEAR,Sneakers For Men,349,65% off
97,Absolute comfort,Sneakers For Men,348,65% off
98,Edoeviv,SM439G Sneakers For Men,499,37% off
99,BRUTON,Sneakers For Men,526,78% off

In [43]:
driver.close()

# Q9: Myntra shoes

In [5]:
driver=webdriver.Chrome(r"C://chromedriver_win32/chromedriver.exe")

In [6]:
driver.get("https://www.myntra.com/shoes")

In [ ]:
#filter_btn=driver.find_elements_by_xpath("//ul[@class='price-list']/label")
#for i in filter_btn:
 #   if i.text=="Rs. 6612 to Rs. 13075":
  #      i.click()
   #     break

In [7]:
Brand=[]
Description=[]
Price=[]

In [8]:
brand_tags=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
Brand1=[]
for i in brand_tags:
    brand=i.text
    Brand1.append(brand)

In [9]:
desc_tags=driver.find_elements_by_xpath('//h4[@class="product-product"]')
Description1=[]
for i in desc_tags:
    desc=i.text
    Description1.append(desc)

In [10]:
price_tags=driver.find_elements_by_xpath('//div[@class="product-price"]')
Price1=[]
for i in price_tags:
    price=i.text
    Price1.append(price)

In [11]:
#next button

In [12]:
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0")

In [13]:
brand_tags=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
Brand2=[]
for i in brand_tags:
    brand=i.text
    Brand2.append(brand)

In [14]:
desc_tags=driver.find_elements_by_xpath('//h4[@class="product-product"]')
Description2=[]
for i in desc_tags:
    desc=i.text
    Description2.append(desc)

In [15]:
price_tags=driver.find_elements_by_xpath('//div[@class="product-price"]')
Price2=[]
for i in price_tags:
    price=i.text
    Price2.append(price)

In [16]:
Brand=Brand1+Brand2
Description=Description1+Description2
Price=Price1+Price2

In [17]:
myntra=pd.DataFrame({})
myntra['Brand']=Brand
myntra['Description']=Description
myntra['Price']=Price

In [18]:
myntra

,Brand,Description,Price
0,Nike,Women Running Shoes,Rs. 7796Rs. 11995(35% OFF)
1,Nike,Women AIR ZOOM Running Shoes,Rs. 7496Rs. 9995(25% OFF)
2,PUMA Motorsport,Unisex Mercedes Running Shoes,Rs. 7999
3,UNDER ARMOUR,Men HOVR STRT Sportstyle Shoes,Rs. 9999
4,Nike,Men JOYRIDE Running Shoes,Rs. 10496Rs. 14995(30% OFF)
...,...,...,...
95,Cole Haan,Women Woven Design Sneakers,Rs. 7499Rs. 14999(50% OFF)
96,Geox,Men Leather Formal Oxfords,Rs. 7867Rs. 10490(25% OFF)
97,Geox,Men Leather Formal Oxfords,Rs. 9367Rs. 12490(25% OFF)
98,Ruosh,Men Formal Leather Brogues,Rs. 7490
99,UNDER ARMOUR,Charged RC Sportstyle Sneakers,Rs. 8999

In [19]:
driver.close()

# Q10: Amazon laptop

In [44]:
from selenium.common.exceptions import NoSuchElementException

In [45]:
driver=webdriver.Chrome(r"C://chromedriver_win32/chromedriver.exe")

In [46]:
driver.get('https://www.amazon.in/')

In [ ]:
amazon=driver.find_element_by_id("twotabsearchtextbox")
amazon.send_keys("Laptop")

In [48]:
search_btn=driver.find_element_by_id("nav-search-submit-button")
search_btn.click()

In [51]:
filter_btn=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_btn:
    if i.text=="Intel Core i7":
        i.click()
        break

In [52]:
filter_btn=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_btn:
    if i.text=="Intel Core i9":
        i.click()
        break

In [53]:
Title=[]
Price=[]
Rating=[]

In [54]:
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)

In [55]:
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    Price.append(i.text)

In [56]:
URL=[]
urls=driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]')
for i in urls[:10]:
    URL.append(i.get_attribute('href'))
for urls in URL:
    driver.get(urls)
    try:
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
        rate.click()
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Rating.append(rating.text)
    except NoSuchElementException as e:
        Rating.append("No Rating")

In [57]:
laptop=pd.DataFrame({})
laptop['Title']=Title
laptop['Price']=Price
laptop['Rating']=Rating

In [58]:
laptop

                                               Title     Price        Rating
0  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    86,990  4.6 out of 5
1  MSI GL65 Leopard 10SDK-069IN Intel Core i7-107...  1,20,240    3 out of 5
2  Dell Alienware m15(R3) 15.6-inch FHD Gaming La...  1,98,590    3 out of 5
3  Lenovo Legion Y540 Intel Core i7 9th Gen 15.6 ...    78,990  4.1 out of 5
4  HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...    76,500  4.6 out of 5
5  Mi Notebook Horizon Edition 14 Intel Core i5-1...    49,999  4.3 out of 5
6  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  2,77,390  3.3 out of 5
7  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...  1,35,490  3.4 out of 5
8  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...    45,990  4.3 out of 5
9  Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...    38,999  4.1 out of 5

In [59]:
driver.close()