In [45]:
from bs4 import BeautifulSoup
import requests

In [46]:
page=requests.get('https://www.imdb.com/chart/top/?sort=rk,asc&mode=simple&page=1')
page

In [47]:
soup = BeautifulSoup(page.content, "html.parser")
#soup

In [48]:
list_of_titles = []
list_of_years = []
user_ratings = []
inputs=[]
x=[]

In [49]:
movie_titles=soup.find_all('td',class_='titleColumn')
#movie_titles

In [50]:
imdb_ratings=soup.find_all('td',class_='ratingColumn imdbRating')
#imdb_ratings

In [51]:
for information in movie_titles:
    title = information.a.text
    list_of_titles.append(title)
    year = information.span.text
    list_of_years.append(year)
       
for rating in imdb_ratings:
    user_rating = rating.text.strip()
    user_ratings.append(user_rating)

In [52]:
name=[]
for i in range(len(user_ratings))[:100]:
    name.append(list_of_titles[i])

In [53]:
year=[]
for i in range(len(user_ratings))[:100]:
    year.append(list_of_years[i])

In [54]:
rating=[]
for i in range(len(user_ratings))[:100]:
    rating.append(user_ratings[i])

In [55]:
import pandas as pd
IMDB = pd.DataFrame({
        "name": name,
         "year": year,
         "rating": rating,
    })
IMDB

                        name    year rating
0   The Shawshank Redemption  (1994)    9.2
1              The Godfather  (1972)    9.1
2     The Godfather: Part II  (1974)    9.0
3            The Dark Knight  (2008)    9.0
4               12 Angry Men  (1957)    8.9
..                       ...     ...    ...
95              Citizen Kane  (1941)    8.3
96                    Dangal  (2016)    8.3
97       Singin' in the Rain  (1952)    8.2
98                   The Kid  (1921)    8.2
99       Ladri di biciclette  (1948)    8.2

[100 rows x 3 columns]

In [63]:
IMDB.to_csv(index=False)

'name,year,rating\r\nThe Shawshank Redemption,(1994),9.2\r\nThe Godfather,(1972),9.1\r\nThe Godfather: Part II,(1974),9.0\r\nThe Dark Knight,(2008),9.0\r\n12 Angry Men,(1957),8.9\r\nSchindler\'s List,(1993),8.9\r\nThe Lord of the Rings: The Return of the King,(2003),8.9\r\nPulp Fiction,(1994),8.8\r\n"Il buono, il brutto, il cattivo",(1966),8.8\r\nThe Lord of the Rings: The Fellowship of the Ring,(2001),8.8\r\nFight Club,(1999),8.8\r\nForrest Gump,(1994),8.8\r\nInception,(2010),8.7\r\nThe Lord of the Rings: The Two Towers,(2002),8.7\r\nStar Wars: Episode V - The Empire Strikes Back,(1980),8.7\r\nThe Matrix,(1999),8.6\r\nGoodfellas,(1990),8.6\r\nOne Flew Over the Cuckoo\'s Nest,(1975),8.6\r\nShichinin no samurai,(1954),8.6\r\nSe7en,(1995),8.6\r\nLa vita è bella,(1997),8.6\r\nCidade de Deus,(2002),8.6\r\nThe Silence of the Lambs,(1991),8.6\r\nIt\'s a Wonderful Life,(1946),8.6\r\nStar Wars,(1977),8.6\r\nSaving Private Ryan,(1998),8.6\r\nThe Green Mile,(1999),8.5\r\nSen to Chihiro no kamikakushi,(2001),8.5\r\nInterstellar,(2014),8.5\r\nGisaengchung,(2019),8.5\r\nLéon,(1994),8.5\r\nSeppuku,(1962),8.5\r\nThe Usual Suspects,(1995),8.5\r\nThe Lion King,(1994),8.5\r\nThe Pianist,(2002),8.5\r\nTerminator 2: Judgment Day,(1991),8.5\r\nBack to the Future,(1985),8.5\r\nAmerican History X,(1998),8.5\r\nModern Times,(1936),8.5\r\nGladiator,(2000),8.5\r\nPsycho,(1960),8.5\r\nThe Departed,(2006),8.5\r\nCity Lights,(1931),8.5\r\nThe Intouchables,(2011),8.5\r\nWhiplash,(2014),8.5\r\nHotaru no haka,(1988),8.5\r\nThe Prestige,(2006),8.5\r\nOnce Upon a Time in the West,(1968),8.4\r\nCasablanca,(1942),8.4\r\nNuovo Cinema Paradiso,(1988),8.4\r\nRear Window,(1954),8.4\r\nAlien,(1979),8.4\r\nApocalypse Now,(1979),8.4\r\nMemento,(2000),8.4\r\nThe Great Dictator,(1940),8.4\r\nRaiders of the Lost Ark,(1981),8.4\r\nDjango Unchained,(2012),8.4\r\nThe Lives of Others,(2006),8.4\r\nHamilton,(2020),8.4\r\nPaths of Glory,(1957),8.4\r\nJoker,(2019),8.4\r\nWALL·E,(2008),8.4\r\nThe Shining,(1980),8.4\r\nAvengers: Infinity War,(2018),8.4\r\nSunset Blvd.,(1950),8.4\r\nWitness for the Prosecution,(1957),8.4\r\nOldeuboi,(2003),8.3\r\nSpider-Man: Into the Spider-Verse,(2018),8.3\r\nMononoke-hime,(1997),8.3\r\nDr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb,(1964),8.3\r\nThe Dark Knight Rises,(2012),8.3\r\nOnce Upon a Time in America,(1984),8.3\r\nKimi no na wa.,(2016),8.3\r\nAliens,(1986),8.3\r\nCoco,(2017),8.3\r\nAvengers: Endgame,(2019),8.3\r\nCapharnaüm,(2018),8.3\r\nAmerican Beauty,(1999),8.3\r\nBraveheart,(1995),8.3\r\nTengoku to jigoku,(1963),8.3\r\nDas Boot,(1981),8.3\r\nToy Story,(1995),8.3\r\n3 Idiots,(2009),8.3\r\nAmadeus,(1984),8.3\r\nInglourious Basterds,(2009),8.3\r\nGood Will Hunting,(1997),8.3\r\nStar Wars: Episode VI - Return of the Jedi,(1983),8.3\r\nTaare Zameen Par,(2007),8.3\r\nReservoir Dogs,(1992),8.3\r\n2001: A Space Odyssey,(1968),8.3\r\nRequiem for a Dream,(2000),8.3\r\nJagten,(2012),8.3\r\nVertigo,(1958),8.3\r\nM - Eine Stadt sucht einen Mörder,(1931),8.3\r\nEternal Sunshine of the Spotless Mind,(2004),8.3\r\nCitizen Kane,(1941),8.3\r\nDangal,(2016),8.3\r\nSingin\' in the Rain,(1952),8.2\r\nThe Kid,(1921),8.2\r\nLadri di biciclette,(1948),8.2\r\n'

In [64]:
print(IMDB)

                        name    year rating
0   The Shawshank Redemption  (1994)    9.2
1              The Godfather  (1972)    9.1
2     The Godfather: Part II  (1974)    9.0
3            The Dark Knight  (2008)    9.0
4               12 Angry Men  (1957)    8.9
..                       ...     ...    ...
95              Citizen Kane  (1941)    8.3
96                    Dangal  (2016)    8.3
97       Singin' in the Rain  (1952)    8.2
98                   The Kid  (1921)    8.2
99       Ladri di biciclette  (1948)    8.2

[100 rows x 3 columns]